extends layout

block content
    h1= title
    p Author: Shiva Komatreddy

    // Wrapper
    #wrapper
        // MARKET MENU
        h3 Menu
        #inventoryMenu
            button#btnViewAllProducts Everything 
            button#btnViewAllFruits Fruits
            button#btnViewAllVegetables Vegetables 
            button#btnViewAllMeats Meats 
        // /MARKET MENU

        // PRODUCT INFO
        #productInfo
            h2 Product Info
            p
                strong Name:
                |   <span id='productInfoName'></span>
                br
                strong Type:
                |   <span id='productInfoType'></span>
                br
                strong Farmer:
                |   <span id='productInfoFarmer'></span>
                br
                strong Price:
                |   <span id='productInfoPrice'></span>
        // /PRODUCT INFO
            
        // PRODUCT LIST
        h2 Inventory Produts List
        #inventoryProductList
            table
                thead
                    th ProductName
                    th Price
                    th Delete?
                    th Edit
                tbody
        // /PRODUCT LIST

        // ADD PRODUCT
        h2#productFormTitle Add Product
        #addProduct
            fieldset
                input#inputProductName(type='text', placeholder='name')
                input#inputProductType(type='text', placeholder='type')
                br
                input#inputProductFarmer(type='text', placeholder='farmer')
                input#inputProductPrice(type='text', placeholder='price')
                br
                button#btnAddProduct Add Product
                button#btnUpdateProduct Update Product
        // /ADD PRODUCT

    // /WRAPPER